body {
    background-image: url("https://img.freepik.com/free-vector/shiny-film-negative-cinema-background-with-text-space_1017-52787.jpg?t=st=1742994211~exp=1742997811~hmac=369a928fb5d3d6b42497ef13f92ba6be3fd2362ab5efd3c31d6090c80e22c50a&w=996");
    background-color:black;
    color: rgb(26, 230, 219);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    
    padding: 20px;
    text-align:center;
    color: lightblue;
}


.title {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    display: flex;
    justify-content: left;
    gap: 15px;
    
}

.title a {
    color: rgb(25, 175, 175);
    font-size: 13px;
    padding: 10px 15px;
}


button {
    padding: 6px 13px;
    background-color: #4cff3c;
    color: rgb(8, 8, 8);
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}
button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.movie-card {
    display: flex;
    align-items: center;
    gap: 20px; 
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    
}

.movie-card img {
    width: 150px; 
    height: auto;
    border-radius: 8px;
}

.movie-details {
    flex: 1;
}

.description {
    max-width: 500px; 
    color: white;

}


#search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}


#search-btn {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    
}



